<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Queues</title>
    <meta name="description" content="Job queues, message queues and other queues. Almost all of them.">
    <meta name="keywords" content="queue, job queue, work queue, message queue, <%= popular_projects.collect{ |k, v| k }.join(", ") %>">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <a href="https://gitlab.com/dtulyakov/queues"><img class="github-ribbon" src="/img/github_ribbon.png" alt="Fork me on GitHub"></a>
    <header id="heading">
      <div class="wrapper">
        <h1>Queues</h1>
        <p>Job queues, message queues and other queues. Almost all of them in one place.</p>
      </div>
    </header>

    <div class="wrapper">

      <article id="about">
        <header>
          <h2>About</h2>
        </header>
        <div class="main_content">
          <p>
            There are many queueing systems out there. Each one of them is different
            and was created for solving certain problems. This page tries to
            collect the libraries that are widely popular and have a successful
            record of running on (big) production systems.
          </p>
          <p>
            The goal is to create a quality list of queues with a collection of
            articles, blog posts, slides, and videos about them. After reading the
            linked articles, you should have a good idea about: the pros and cons
            of each queue, a basic understanding of how the queue works, and
            what each queue is trying to achieve. Basically, you should have
            all the information you need to decide which queue will best fit your
            needs.
          </p>
          <p>
            The whole site is <%=link_to "open source",
            "https://gitlab.com/dtulyakov/queues" %> and is updated quite frequently.
            If you find any mistakes or see something missing, feel free to post an issue
            or send a pull request. All contributions are welcome! Thanks.
          </p>
        </div>
      </article>

      <section class="projects">
        <header>
          <h2>Popular Projects</h2>
        </header>

        <% popular_projects.each do |symbol, project| %>
          <%= render_partial "project", { symbol: symbol, project: project } %>
        <% end %>
      </section>

      <section class="projects">
        <header>
          <h2>Other Projects</h2>
        </header>

        <% other_projects.each do |symbol, project| %>
          <%= render_partial "project", { symbol: symbol, project: project } %>
        <% end %>
      </section>

      <footer>
        droped by @lukaszx0
      </footer>
    </div>

    <script src="js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-00000000-0', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
